<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.like.dao.LikeDAO">
 	<insert id="insertLike" parameterType="map">
 		INSERT INTO `like`
 		(
 			`userId`
 			, `postId`
 			, `createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selecetCountLikeByPostId" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</select>
	
	<select id="haveLikeByUserIdPostId" resultType="boolean">
		SELECT
			COUNT(*)
 		FROM
 			`like`
 		WHERE
 			`userID` = #{userId}
 			AND
 			`postId` = #{postId}
	</select>
	
	<delete id="deleteLike" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`userId` = #{userId}
			AND
			`postId` = #{postId}
	</delete>
 </mapper>